In [1]:
import numpy as np
import pandas as pd

### Accounts

In [2]:
accounts = pd.read_csv("../datasets/accounts.csv")
accounts

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,BranchID,Area,Tenure,AssetCost,AmountFinance,...,Account,AGE,MonthlyIncome,beneficiary,City,State,Region,ZiPCODE,Top-up Month,Feedback
0,1,Monthly,Arrear,Closed,PDC_E,1,NaN,48,450000,275000.0,...,SELF,49.0,35833.33,Parents,RAISEN,MADHYA PRADESH,EAST,464993.0,> 48 Months,Yes
1,2,Monthly,Advance,Closed,PDC,333,BHOPAL,47,485000,350000.0,...,SELF,23.0,666.67,Parents,SEHORE,MADHYA PRADESH,EAST,466001.0,No Top-up Service,Yes
2,3,Quatrly,Arrear,Active,Direct Debit,1,NaN,68,690000,519728.0,...,SELF,39.0,45257.00,Parents,BHOPAL,MADHYA PRADESH,EAST,462030.0,12-18 Months,Yes
3,7,Monthly,Advance,Closed,Billed,125,GUNA,48,480000,400000.0,...,SELF,24.0,20833.33,Parents,ASHOK NAGAR,MADHYA PRADESH,EAST,473335.0,> 48 Months,Yes
4,8,Monthly,Arrear,Closed,Billed,152,BILASPUR,44,619265,440000.0,...,SELF,56.0,27313.67,Stranger,BILASPUR,CHATTISGARH,EAST,495442.0,36-48 Months,Not Interested
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128650,143390,Half Yearly,Arrear,Closed,Direct Debit,424,PANIPAT,24,470000,265601.0,...,CURRENT,25.0,65333.33,Stranger,SONIPAT,HARYANA,NORTH,131403.0,24-30 Months,Not Interested
128651,143391,Half Yearly,Arrear,Closed,Direct Debit,424,PANIPAT,24,460000,275630.0,...,CURRENT,25.0,83333.33,Stranger,SONIPAT,HARYANA,NORTH,131403.0,No Top-up Service,Not Interested
128652,143393,Monthly,Arrear,Active,Direct Debit,424,PANIPAT,23,545000,300733.0,...,CURRENT,36.0,248500.00,Stranger,SONIPAT,HARYANA,NORTH,131024.0,No Top-up Service,Not Interested
128653,143394,Half Yearly,Arrear,Active,Direct Debit,424,PANIPAT,35,350000,250962.0,...,CURRENT,37.0,84500.00,Stranger,SONIPAT,HARYANA,NORTH,131103.0,No Top-up Service,Not Interested
128654,143395,Half Yearly,Arrear,Active,Direct Debit,424,PANIPAT,24,370000,200428.0,...,CURRENT,33.0,178166.67,Stranger,SONIPAT,HARYANA,NORTH,131402.0,No Top-up Service,Not Interested

In [3]:
accounts.isna().sum()

ID                     0
Frequency              0
InstlmentMode          0
LoanStatus             0
PaymentMode            0
BranchID               0
Area               11653
Tenure                 0
AssetCost              0
AmountFinance          0
DisbursalAmount        0
EMI                    0
DisbursalDate          0
MaturityDAte           1
AuthDate               0
AssetID                0
ManufacturerID         0
SupplierID             0
LTV                    0
Account                0
AGE                   59
MonthlyIncome        234
beneficiary            0
City               11256
State                  0
Region                 0
ZiPCODE              372
Top-up Month           0
Feedback               0
dtype: int64

In [4]:
accounts["Area"] = accounts["Area"].fillna(accounts["Area"].mode()[0])

In [5]:
accounts = accounts.dropna(subset="MaturityDAte")

In [6]:
accounts["AGE"] = accounts["AGE"].fillna(accounts["AGE"].mean())

C:\Users\shv30\AppData\Local\Temp\ipykernel_22980\2854062346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accounts["AGE"] = accounts["AGE"].fillna(accounts["AGE"].mean())

In [7]:
accounts["MonthlyIncome"] = accounts["MonthlyIncome"].fillna(accounts["MonthlyIncome"].mean())

C:\Users\shv30\AppData\Local\Temp\ipykernel_22980\3685065309.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accounts["MonthlyIncome"] = accounts["MonthlyIncome"].fillna(accounts["MonthlyIncome"].mean())

In [8]:
accounts["City"] = accounts["City"].fillna(accounts["City"].mode()[0])

C:\Users\shv30\AppData\Local\Temp\ipykernel_22980\945929741.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accounts["City"] = accounts["City"].fillna(accounts["City"].mode()[0])

In [9]:
accounts["ZiPCODE"] = accounts["ZiPCODE"].fillna(accounts["ZiPCODE"].mean())

C:\Users\shv30\AppData\Local\Temp\ipykernel_22980\2871394482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accounts["ZiPCODE"] = accounts["ZiPCODE"].fillna(accounts["ZiPCODE"].mean())

In [10]:
accounts = accounts.drop(["BranchID", "beneficiary", "Area", "State", "Region", "ZiPCODE"],axis=1)

In [11]:
accounts.isna().sum()

ID                 0
Frequency          0
InstlmentMode      0
LoanStatus         0
PaymentMode        0
Tenure             0
AssetCost          0
AmountFinance      0
DisbursalAmount    0
EMI                0
DisbursalDate      0
MaturityDAte       0
AuthDate           0
AssetID            0
ManufacturerID     0
SupplierID         0
LTV                0
Account            0
AGE                0
MonthlyIncome      0
City               0
Top-up Month       0
Feedback           0
dtype: int64

### Transaction

In [12]:
transaction = pd.read_csv("../datasets/transaction.csv")
transaction

,ID,SELF-INDICATOR,MATCH-TYPE,ACCT-TYPE,CONTRIBUTOR-TYPE,DATE-REPORTED,OWNERSHIP-IND,ACCOUNT-STATUS,DISBURSED-DT,CLOSE-DT,...,INSTALLMENT-FREQUENCY,OVERDUE-AMT,WRITE-OFF-AMT,ASSET_CLASS,REPORTED DATE - HIST,DPD - HIST,CUR BAL - HIST,AMT OVERDUE - HIST,AMT PAID - HIST,TENURE
0,1,False,PRIMARY,Overdraft,NAB,2018-04-30,Individual,Delinquent,2015-10-05,NaN,...,NaN,"37,873",0.0,Standard,"20180430,20180331,",030000,"37873,12820,","37873,,",",,",NaN
1,1,False,PRIMARY,Auto Loan (Personal),NAB,2019-12-31,Individual,Active,2018-03-19,NaN,...,F03,NaN,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",0000000000000000000000000000000000000000000000...,"20797,21988,23174,24341,25504,26648,27780,2891...",",,,,,,,,,,,,,,,,,,,,1452,,",",,,,,,,,,,,,,,,,,,,,,,",36.0
2,1,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2019-08-30,NaN,...,NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",000000000000000000,"116087,116087,145000,145000,145000,145000,","0,0,0,0,0,0,",",,,,,,",NaN
3,1,True,PRIMARY,Auto Loan (Personal),NBF,2017-09-30,Individual,Closed,2013-09-27,2017-09-21 00:00:00,...,NaN,0,0.0,NaN,"20170930,20170801,20170731,20170630,20170531,2...",000DDD0270260270260270240270270000320000000000...,"0,,15925,23754,31494,39147,46713,54194,61590,6...","0,,1014,1014,1014,1014,1014,1014,1014,983,0,92...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
4,1,True,PRIMARY,Tractor Loan,NBF,2016-02-29,Individual,Closed,2012-02-10,2016-02-01 00:00:00,...,NaN,0,0.0,NaN,"20160229,20160131,20151231,20151130,20151031,2...",0000000000000000000000000000000000000000000000...,"0,0,23658,23321,22989,46321,45662,45012,68030,...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560839,143393,False,PRIMARY,Tractor Loan,NBF,2019-12-31,Individual,Closed,NaN,NaN,...,NaN,0,0.0,Standard,"20171231,20171130,20171001,20170930,20170831,2...",000000DDD054024024000000000000000000,"0,0,,67747,89638,111197,109562,130470,151135,1...","0,0,,22920,22920,22920,0,0,0,0,0,0",",,,,,,,,,,,,,",12.0
560840,143393,False,PRIMARY,Tractor Loan,NBF,2019-12-31,Individual,Active,2017-10-31,NaN,...,NaN,0,0.0,Standard,"20191231,20191130,20191031,20190930,20190831,2...",000000000000000000027028028DDD026030DDD0000000...,"0,0,14208,28265,42149,55874,69591,83001,96293,...","0,0,0,0,0,0,125,125,125,,125,125,,0,0,0,,,0,,0...",",,,,,,,,,,,,,,,,,,,,,,,,,,",24.0
560841,143393,False,PRIMARY,Auto Loan (Personal),NBF,2020-01-31,Guarantor,Active,2016-11-28,NaN,...,NaN,NaN,0.0,Standard,"20200131,20191231,20191130,20191031,20190930,2...",XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX031XXXXXX0...,"101687,111161,120514,129749,138867,147870,1567...",",,,,,,,,,,,,10897,,,10763,,10771,21785,10885,,...",",,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,",48.0
560842,143394,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2018-12-20,NaN,...,NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",0,"132487,132487,132487,191426,191426,191426,1914...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,",",,,,,,,,,,,,,,",NaN
560843,143395,True,PRIMARY,Tractor Loan,NBF,2020-01-31,Individual,Active,2018-12-31,NaN,...,NaN,0,0.0,NaN,"20200131,20191231,20191130,20191031,20190930,2...",0,"105499,105499,105499,152431,152431,152431,1524...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,",",,,,,,,,,,,,,,",NaN

In [13]:
transaction = transaction.drop(["SELF-INDICATOR", "MATCH-TYPE", "OWNERSHIP-IND", "REPORTED DATE - HIST", "DPD - HIST", "CUR BAL - HIST", "AMT OVERDUE - HIST", "CONTRIBUTOR-TYPE", "DATE-REPORTED", "DISBURSED-DT", "INSTALLMENT-FREQUENCY", "INSTALLMENT-AMT", "AMT PAID - HIST", "ASSET_CLASS", "CLOSE-DT", "LAST-PAYMENT-DATE", "CREDIT-LIMIT/SANC AMT", "OVERDUE-AMT", "TENURE", "WRITE-OFF-AMT"], axis=1)

In [14]:
transaction["CURRENT-BAL"] = transaction["CURRENT-BAL"].fillna(transaction["CURRENT-BAL"].mode()[0])

In [15]:
transaction = transaction.drop_duplicates()

In [16]:
transaction['DISBURSED-AMT/HIGH CREDIT'] = pd.to_numeric(transaction['DISBURSED-AMT/HIGH CREDIT'].str.replace(',', '', regex=False))
transaction['CURRENT-BAL'] = pd.to_numeric(transaction['CURRENT-BAL'].str.replace(',', '', regex=False))

In [17]:
transaction

,ID,ACCT-TYPE,ACCOUNT-STATUS,DISBURSED-AMT/HIGH CREDIT,CURRENT-BAL
0,1,Overdraft,Delinquent,37352,37873
1,1,Auto Loan (Personal),Active,44000,20797
2,1,Tractor Loan,Active,145000,116087
3,1,Auto Loan (Personal),Closed,300000,0
4,1,Tractor Loan,Closed,275000,0
...,...,...,...,...,...
560839,143393,Tractor Loan,Closed,250000,0
560840,143393,Tractor Loan,Active,30000,0
560841,143393,Auto Loan (Personal),Active,393819,11687
560842,143394,Tractor Loan,Active,250643,132487
560843,143395,Tractor Loan,Active,20428,15499

In [18]:
def mode_func(x):
    return x.mode().iloc[0]

In [19]:
transaction = transaction.groupby('ID').agg(
    ACCT_TYPE=('ACCT-TYPE', mode_func),
    ACCOUNT_STATUS=('ACCOUNT-STATUS', mode_func),
    DISBURSED_AMT_or_HIGH_CREDIT=('DISBURSED-AMT/HIGH CREDIT', lambda x: round(x.mean(), 2)),
    CURRENT_BAL=('CURRENT-BAL', lambda x: round(x.mean(), 2))
)

In [20]:
transaction

,ACCT_TYPE,ACCOUNT_STATUS,DISBURSED_AMT_or_HIGH_CREDIT,CURRENT_BAL
ID,,,,
1,Auto Loan (Personal),Closed,244594.67,68725.11
2,Commercial Vehicle Loan,Active,1393621.62,796112.08
3,Gold Loan,Closed,121212.30,68838.83
7,Tractor Loan,Active,318138.25,156000.00
8,Tractor Loan,Active,289316.57,139159.86
...,...,...,...,...
143390,Property Loan,Active,1043800.50,933815.00
143391,Tractor Loan,Active,275630.00,73890.00
143393,Tractor Loan,Active,176138.00,38533.25
143394,Tractor Loan,Active,250643.00,132487.00
143395,Tractor Loan,Active,20428.00,15499.00

### Merge

In [21]:
df = pd.merge(accounts, transaction, on=["ID"])
df

,ID,Frequency,InstlmentMode,LoanStatus,PaymentMode,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,...,Account,AGE,MonthlyIncome,City,Top-up Month,Feedback,ACCT_TYPE,ACCOUNT_STATUS,DISBURSED_AMT_or_HIGH_CREDIT,CURRENT_BAL
0,1,Monthly,Arrear,Closed,PDC_E,48,450000,275000.0,275000.0,24000.0,...,SELF,49.0,35833.33,RAISEN,> 48 Months,Yes,Auto Loan (Personal),Closed,244594.67,68725.11
1,2,Monthly,Advance,Closed,PDC,47,485000,350000.0,350000.0,10500.0,...,SELF,23.0,666.67,SEHORE,No Top-up Service,Yes,Commercial Vehicle Loan,Active,1393621.62,796112.08
2,3,Quatrly,Arrear,Active,Direct Debit,68,690000,519728.0,519728.0,38300.0,...,SELF,39.0,45257.00,BHOPAL,12-18 Months,Yes,Gold Loan,Closed,121212.30,68838.83
3,7,Monthly,Advance,Closed,Billed,48,480000,400000.0,400000.0,11600.0,...,SELF,24.0,20833.33,ASHOK NAGAR,> 48 Months,Yes,Tractor Loan,Active,318138.25,156000.00
4,8,Monthly,Arrear,Closed,Billed,44,619265,440000.0,440000.0,15000.0,...,SELF,56.0,27313.67,BILASPUR,36-48 Months,Not Interested,Tractor Loan,Active,289316.57,139159.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128649,143390,Half Yearly,Arrear,Closed,Direct Debit,24,470000,265601.0,265601.0,76800.0,...,CURRENT,25.0,65333.33,SONIPAT,24-30 Months,Not Interested,Property Loan,Active,1043800.50,933815.00
128650,143391,Half Yearly,Arrear,Closed,Direct Debit,24,460000,275630.0,275630.0,80100.0,...,CURRENT,25.0,83333.33,SONIPAT,No Top-up Service,Not Interested,Tractor Loan,Active,275630.00,73890.00
128651,143393,Monthly,Arrear,Active,Direct Debit,23,545000,300733.0,300733.0,15277.0,...,CURRENT,36.0,248500.00,SONIPAT,No Top-up Service,Not Interested,Tractor Loan,Active,176138.00,38533.25
128652,143394,Half Yearly,Arrear,Active,Direct Debit,35,350000,250962.0,250962.0,74341.0,...,CURRENT,37.0,84500.00,SONIPAT,No Top-up Service,Not Interested,Tractor Loan,Active,250643.00,132487.00
128653,143395,Half Yearly,Arrear,Active,Direct Debit,24,370000,200428.0,200428.0,59200.0,...,CURRENT,33.0,178166.67,SONIPAT,No Top-up Service,Not Interested,Tractor Loan,Active,20428.00,15499.00

In [22]:
df.columns

Index(['ID', 'Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode',
       'Tenure', 'AssetCost', 'AmountFinance', 'DisbursalAmount', 'EMI',
       'DisbursalDate', 'MaturityDAte', 'AuthDate', 'AssetID',
       'ManufacturerID', 'SupplierID', 'LTV', 'Account', 'AGE',
       'MonthlyIncome', 'City', 'Top-up Month', 'Feedback', 'ACCT_TYPE',
       'ACCOUNT_STATUS', 'DISBURSED_AMT_or_HIGH_CREDIT', 'CURRENT_BAL'],
      dtype='object')

In [23]:
df["MaturityDAte"] = pd.to_datetime(df["MaturityDAte"])

C:\Users\shv30\AppData\Local\Temp\ipykernel_22980\3309259927.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["MaturityDAte"] = pd.to_datetime(df["MaturityDAte"])

In [24]:
df["DisbursalDate"]

0         10-02-2012
1         31-03-2012
2         17-06-2017
3         29-11-2013
4         08-12-2011
             ...
128649    21-09-2018
128650    22-09-2018
128651    23-11-2018
128652    20-12-2018
128653    31-12-2018
Name: DisbursalDate, Length: 128654, dtype: object

In [25]:
def change_format(x):
    return f"{x[6:10]}-{x[3:5]}-{x[0:2]}"

In [26]:
df["DisbursalDate"]= df["DisbursalDate"].apply(change_format)

In [27]:
df["DisbursalDate"] = pd.to_datetime(df["DisbursalDate"])

In [28]:
df["Loan_Tenure"] = (df["MaturityDAte"] - df["DisbursalDate"])/np.timedelta64(1,"m")

In [29]:
df["disbursal_cost"] = df["DisbursalAmount"]/df["AssetCost"]

In [30]:
df["EMI_disbursal"] = df["EMI"]/df["DisbursalAmount"]

In [31]:
df["EMI_income"] = df["EMI"]/(df["MonthlyIncome"]+0.1)

In [32]:
df = df.drop(["ID", "DisbursalDate", "MaturityDAte"],axis=1)
df

,Frequency,InstlmentMode,LoanStatus,PaymentMode,Tenure,AssetCost,AmountFinance,DisbursalAmount,EMI,AuthDate,...,Top-up Month,Feedback,ACCT_TYPE,ACCOUNT_STATUS,DISBURSED_AMT_or_HIGH_CREDIT,CURRENT_BAL,Loan_Tenure,disbursal_cost,EMI_disbursal,EMI_income
0,Monthly,Arrear,Closed,PDC_E,48,450000,275000.0,275000.0,24000.0,10-02-2012,...,> 48 Months,Yes,Auto Loan (Personal),Closed,244594.67,68725.11,2066400.0,0.611111,0.087273,0.669766
1,Monthly,Advance,Closed,PDC,47,485000,350000.0,350000.0,10500.0,31-03-2012,...,No Top-up Service,Yes,Commercial Vehicle Loan,Active,1393621.62,796112.08,2039040.0,0.721649,0.030000,15.747559
2,Quatrly,Arrear,Active,Direct Debit,68,690000,519728.0,519728.0,38300.0,17-06-2017,...,12-18 Months,Yes,Gold Loan,Closed,121212.30,68838.83,2972160.0,0.753229,0.073692,0.846276
3,Monthly,Advance,Closed,Billed,48,480000,400000.0,400000.0,11600.0,29-11-2013,...,> 48 Months,Yes,Tractor Loan,Active,318138.25,156000.00,2076480.0,0.833333,0.029000,0.556797
4,Monthly,Arrear,Closed,Billed,44,619265,440000.0,440000.0,15000.0,08-12-2011,...,36-48 Months,Not Interested,Tractor Loan,Active,289316.57,139159.86,1879200.0,0.710520,0.034091,0.549174
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128649,Half Yearly,Arrear,Closed,Direct Debit,24,470000,265601.0,265601.0,76800.0,22-09-2018,...,24-30 Months,Not Interested,Property Loan,Active,1043800.50,933815.00,897120.0,0.565109,0.289156,1.175508
128650,Half Yearly,Arrear,Closed,Direct Debit,24,460000,275630.0,275630.0,80100.0,22-09-2018,...,No Top-up Service,Not Interested,Tractor Loan,Active,275630.00,73890.00,895680.0,0.599196,0.290607,0.961199
128651,Monthly,Arrear,Active,Direct Debit,23,545000,300733.0,300733.0,15277.0,23-11-2018,...,No Top-up Service,Not Interested,Tractor Loan,Active,176138.00,38533.25,1026720.0,0.551804,0.050799,0.061477
128652,Half Yearly,Arrear,Active,Direct Debit,35,350000,250962.0,250962.0,74341.0,20-12-2018,...,No Top-up Service,Not Interested,Tractor Loan,Active,250643.00,132487.00,1293120.0,0.717034,0.296224,0.879774
128653,Half Yearly,Arrear,Active,Direct Debit,24,370000,200428.0,200428.0,59200.0,31-12-2018,...,No Top-up Service,Not Interested,Tractor Loan,Active,20428.00,15499.00,972000.0,0.541697,0.295368,0.332273

In [33]:
df.columns

Index(['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'Tenure',
       'AssetCost', 'AmountFinance', 'DisbursalAmount', 'EMI', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'Account', 'AGE',
       'MonthlyIncome', 'City', 'Top-up Month', 'Feedback', 'ACCT_TYPE',
       'ACCOUNT_STATUS', 'DISBURSED_AMT_or_HIGH_CREDIT', 'CURRENT_BAL',
       'Loan_Tenure', 'disbursal_cost', 'EMI_disbursal', 'EMI_income'],
      dtype='object')

In [34]:
df = df.drop(['Frequency', 'InstlmentMode', 'LoanStatus', 'PaymentMode', 'Tenure',
       'AssetCost', 'AmountFinance', 'DisbursalAmount', 'EMI', 'AuthDate',
       'AssetID', 'ManufacturerID', 'SupplierID', 'LTV', 'Account', 'AGE',
       'MonthlyIncome', 'City', 'Top-up Month', 'ACCT_TYPE'],axis=1)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128654 entries, 0 to 128653
Data columns (total 8 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Feedback                      128654 non-null  object
 1   ACCOUNT_STATUS                128654 non-null  object
 2   DISBURSED_AMT_or_HIGH_CREDIT  128654 non-null  float64
 3   CURRENT_BAL                   128654 non-null  float64
 4   Loan_Tenure                   128654 non-null  float64
 5   disbursal_cost                128654 non-null  float64
 6   EMI_disbursal                 128654 non-null  float64
 7   EMI_income                    128654 non-null  float64
dtypes: float64(6), object(2)
memory usage: 7.9+ MB

In [36]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [37]:
df['ACCOUNT_STATUS'] = enc.fit_transform(df['ACCOUNT_STATUS'])

In [38]:
df['Feedback'] = enc.fit_transform(df['Feedback'])

In [39]:
df

,Feedback,ACCOUNT_STATUS,DISBURSED_AMT_or_HIGH_CREDIT,CURRENT_BAL,Loan_Tenure,disbursal_cost,EMI_disbursal,EMI_income
0,2,1,244594.67,68725.11,2066400.0,0.611111,0.087273,0.669766
1,2,0,1393621.62,796112.08,2039040.0,0.721649,0.030000,15.747559
2,2,1,121212.30,68838.83,2972160.0,0.753229,0.073692,0.846276
3,2,0,318138.25,156000.00,2076480.0,0.833333,0.029000,0.556797
4,1,0,289316.57,139159.86,1879200.0,0.710520,0.034091,0.549174
...,...,...,...,...,...,...,...,...
128649,1,0,1043800.50,933815.00,897120.0,0.565109,0.289156,1.175508
128650,1,0,275630.00,73890.00,895680.0,0.599196,0.290607,0.961199
128651,1,0,176138.00,38533.25,1026720.0,0.551804,0.050799,0.061477
128652,1,0,250643.00,132487.00,1293120.0,0.717034,0.296224,0.879774
128653,1,0,20428.00,15499.00,972000.0,0.541697,0.295368,0.332273

In [40]:
df["Feedback"].value_counts()

Feedback
0    61490
2    49840
1    17324
Name: count, dtype: int64

### Spliting x and y

In [41]:
df.columns

Index(['Feedback', 'ACCOUNT_STATUS', 'DISBURSED_AMT_or_HIGH_CREDIT',
       'CURRENT_BAL', 'Loan_Tenure', 'disbursal_cost', 'EMI_disbursal',
       'EMI_income'],
      dtype='object')

In [42]:
x = df.drop(["Feedback", "ACCOUNT_STATUS", "DISBURSED_AMT_or_HIGH_CREDIT"], axis=1)
y = df["Feedback"]

### Split data into train and test

In [43]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.7)

### Training model

In [74]:
from sklearn.linear_model import LogisticRegression

def create_model_logistic_regression():
    model = LogisticRegression(max_iter=1000)
    model.fit(x_train, y_train)
    return model

In [75]:
from sklearn.neighbors import KNeighborsClassifier

def create_model_knn():
    # create the model
    model = KNeighborsClassifier(n_neighbors=5)
    
    # train the model
    model.fit(x_train, y_train)

    return model

In [76]:
from sklearn.svm import SVC

def create_model_svm():
    model = SVC()
    model.fit(x_train, y_train)
    return model

In [77]:
from sklearn.tree import DecisionTreeClassifier

def create_model_decision_tree():
    model = DecisionTreeClassifier(max_depth=50)
    model.fit(x_train, y_train)
    return model

In [78]:
from sklearn.ensemble import RandomForestClassifier

def create_model_random_forest():
    model = RandomForestClassifier(n_estimators=100)
    model.fit(x_train, y_train)
    return model

In [79]:
from xgboost import XGBClassifier

def create_model_xgboost():
    model = XGBClassifier()
    model.fit(x_train, y_train)
    return model

In [80]:
from sklearn.ensemble import AdaBoostClassifier

def create_model_ada_boost():
    model = AdaBoostClassifier()
    model.fit(x_train, y_train)
    return model

In [81]:
from lightgbm import LGBMClassifier

def create_model_lightgbm():
    model = LGBMClassifier()
    model.fit(x_train, y_train)
    return model

### Model Evaluation

In [44]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

def evaluate_model(model):
    # training accuracry
    y_pred = model.predict(x_train)
    y_true = y_train

    # calculate training accuracy
    accuracy = accuracy_score(y_true, y_pred)

    # testing accuracy
    y_pred = model.predict(x_test)
    y_true = y_test

    # get the performance metrics for testing
    testing_precision = precision_score(y_true, y_pred,average='micro')
    testing_recall = recall_score(y_true, y_pred,average='micro')
    testing_f1 = f1_score(y_true, y_pred,average='micro')

    return accuracy, testing_precision, testing_recall, testing_f1

In [ ]:
models = [
    ("Logistic Regression", create_model_logistic_regression()),
    ("KNN", create_model_knn()),
    ("SVM", create_model_svm()),
    ("Decision Tree", create_model_decision_tree()),
    ("Random Forest", create_model_random_forest()),
    ("LGBM", create_model_lightgbm()),
    ("Ada Boost", create_model_ada_boost()),
    ("XGBoost", create_model_xgboost())
]

In [ ]:
performance_data = []
for model_name, model in models:
    accuracy, precision, recall, f1 = evaluate_model(model)
    performance_data.append([
        model_name, f"{accuracy * 100:0.2f}%", precision, recall, f1
    ])
    
performance_chart = pd.DataFrame(performance_data, 
            columns=["Model", "Accuracy", "Precision", "Recall", "F1"])
performance_chart

## XG Boost

In [45]:
from xgboost import XGBClassifier

model = XGBClassifier()
model.fit(x_train, y_train)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, objective='multi:softprob', ...)

### Saving the model

In [46]:
import pickle

with open("Hackathon_Model.pkl", "wb") as file:
    pickle.dump(model, file)